/* reset simple */
* { box-sizing: border-box; }
html, body, #root { height: 100%; width: 100%; }

html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;   /* mismo fondo que la app */
  color: #111827;
}

/* quitar límites del template */
#root {
  max-width: none;
  padding: 0;
  margin: 0;
}
